* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-body-color: #292929;
  --bg-div-color: #3d3d3d;
  --text-main-color: #ffffff;
  --text-secondary-color: #ffffff66;
  --text-btn-color: #242424;
  --bg-subtitle-news-color: #00000063;

  --font-xxl: 28px;
  --font-xl: 24px;
  --font-lg: 20px;
  --font-md: 16px;
  --font-sm: 12px;

  --font-normal: 400;
  --font-bold: 500;
  --font-bolder: 600;

  --border-radius: 16px;
  --border-radius-sm: 8px;
  --padding: 16px;
  --padding-sm: 8px;
  --gap: 16px;
}

body {
  font-family: "Inter";
  margin: 0;
  padding: 33px 16px;
  background-color: var(--bg-body-color);
  color: var(--text-main-color);
  font-weight: var(--font-bold);
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  font-size: var(--font-sm);
  color: var(--text-secondary-color);
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-md);
  font-weight: var(--font-normal);
}

.container {
  width: 398px;
  margin-right: auto;
  margin-left: auto;
}

.calender-wrapper,
.weather-wrapper,
.email-wrapper,
.mood-wrapper,
.quote-wrapper,
.news-wrapper {
  background-color: var(--bg-div-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  margin-bottom: var(--gap);
}

/* Weather */
.weather-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}

.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 42px;
}

.weather-details h2 {
  font-size: var(--font-xxl);
}

/* calender */
.calender-title {
  margin-bottom: var(--gap);
}

.reminder-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.reminder-list li {
  padding: 4px 12px;
}

.reminder-list li:first-child {
  border-left: solid 2px #ffc453;
}

.reminder-list li:last-child {
  border-left: solid 2px #29e489;
}

/* email */
.email-image {
  margin-left: -12px;
  margin-top: 6px;
}

.email-title {
  margin-bottom: var(--gap);
}

.emails-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.emails-list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #29292980;
}

.emails-list li:last-child {
  border: none;
}

.email-items--details {
  padding-left: 12px;
}

.email-items--details h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 318px;
}

/* mood */
.mood-title {
  margin-bottom: var(--gap);
}

.mood-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.mood-list li {
  background-color: var(--bg-body-color);
  width: calc((100% / 3) - var(--gap) + (var(--gap) / 3));
  text-align: center;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
}

.mood-list li p {
  font-size: var(--font-md);
  color: var(--text-main-color);
  font-weight: var(--font-bolder);
}

/* quote */
.quote-title {
  margin-bottom: 29px;
}

.quote-subtitle {
  position: relative;
  min-height: 80px;
}

.quote-subtitle p {
  font-size: var(--font-lg);
  color: #ffffffcc;
}

.quote-subtitle .sub-badge {
  font-size: var(--font-sm);
  color: var(--text-secondary-color);
  position: absolute;
  right: 0;
  bottom: 0;
}

.news-wrapper {
  display: none;
}

@media (width > 1300px) {
  .container {
    width: 1280px;
  }

  body {
    padding: 93px 0;
  }

  .news-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .news-wrapper .news-nav {
    display: flex;
    gap: 10px;
    color: var(--text-btn-color);
    font-size: var(--font-md);
    font-weight: var(--font-bolder);
  }

  .nav li {
    padding: var(--padding-sm) var(--padding);
    text-align: center;
  }

  .nav li:first-child {
    color: var(--text-main-color);
    background-color: var(--bg-body-color);
    border-radius: var(--border-radius-sm);
  }

  .widget-wrapper {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "weather news news"
      "calender news news"
      "email quote mood";
  }

  .weather-wrapper {
    grid-area: weather;
  }

  .calender-wrapper {
    grid-area: calender;
  }

  .news-wrapper {
    grid-area: news;
  }

  .email-wrapper {
    grid-area: email;
  }

  .quote-wrapper {
    grid-area: quote;
  }

  .mood-wrapper {
    grid-area: mood;
  }
}
